.product-card {
  background-color: transparent;
  padding: 16px;
  border-radius: 8px;
  width: 370px;
  border: 1px solid transparent;
  transition: margin 0.3s, border 0.3s, box-shadow 0.3s;
  margin-bottom: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.product-card:hover .image-card img {
    transform: scale(0.9);
  }

.card-container {
  background-color: white;
  text-align: center;
  padding: 16px;
}

.image-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.category-card {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.category-card small {
  display: block;
  font-size: 13px;
  margin-bottom: 0.75rem;
}

.motorcycle-card h2 {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  text-align: center;
  transition: color 0.3s; 
}
.product-card:hover .motorcycle-card h2 {
    color: rgb(218, 54, 74); 
  }

.motorcycle-card h2::after {
  content: "";
  display: block;
  width: 45px;
  height: 4px;
  background-color: var(--terciary-color);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.price-card {
  font-size: 22px;
  color: #d9534f;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-review {
  font-size: 25px;
  margin-bottom: 20px;
  color: #ffcc00;
}

.card-footer {
    padding-top: 16px;
    display: flex;
    gap: 10px;
    justify-content:center ;
    color: #242424;

    button {
        font-size: 14px;
        line-height: 1;
        text-align: center;
        border-radius: 15px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 12px 20px;
        background-color: #eef0f1;
        border: 1px solid #e1e1e1;
        cursor: pointer;

        &.btn-icon {
            padding: 12px 8px;
            color: #a4a4a4;
        }

        &:hover {
            background-color: var(--terciary-color);
            border-color: var(--terciary-color);
            color: var(--primary-color);
        }
    }
}
